server:
  port: 8081
  servlet:
    context-path: "/springboot-rabbitmq"

spring:
  rabbitmq:
    host: 192.168.149.1
    port: 5672
    username: root
    password: root
    #如不设置,默认使用host
    virtual-host: testrabbitmq
    #确认消息已发送到交换机(Exchange)
    publisher-confirm-type: correlated
    #确认消息已发送到队列(Queue)
    publisher-returns: true